extends layout
include components/layouts/slide
include components/debug

block content
  - var styleString = Object.entries(content.styles || {}).map(([k, v]) => `${k}: ${v}`).join('; ')
  div(id="app",role="main",style=styleString)
    div(id="dynamic-creative-container",style=styleString) 
      if content
        if content.elements
          each element in content.elements
            if element.SlideLayout
              +slide(element.SlideLayout)
    +debug("Empty")
