doctype html
html
  head
    link(rel="icon",type="image/svg+xml",href="/images/logo.svg")
    meta(viewport="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no") 

  body
    block content
