doctype html
html
  head
    meta(viewport="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no") 
    if elements
    if content
      title= content.name
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    if elements
    if manager
