mixin debug(debugContent)
    div(id="debug")
        a(href="http://localhost:5000/dynamics/67e5255aa5019234ba89509c")
            = "Dynamic: 67e5255aa5019234ba89509c"
        br()
        a(href="http://localhost:5000/dynamics/67e5255aa5019234ba89509c/assets/components.min.js")
            = "Components: 67e5255aa5019234ba89509c"