include ../layoutBox/default

mixin countdown(countdownElement)
  - var idValue = "countdown-widget-" + countdownElement._id;
  - var styleString = Object.entries(countdownElement.styles || {}).map(([k, v]) => `${k}: ${v}`).join('; ')
  div(id=idValue, style=styleString)
    if countdownElement.contents
      each child in countdownElement.contents
        if child.BoxLayout
          +box(child.BoxLayout)
